html, body, header, #intro {
    height: 100%;
}

#intro {
    background-image: url("http://www.baltana.com/files/wallpapers-2/Beautiful-White-Horse-Background-Wallpaper-07652.jpg") no-repeat center center fixed;
    background-size: cover;
}
