html, body, header, #intro {
    height: 100%;
}

#intro {
    background: url("https://www.gettyimages.com/detail/photo/arabian-horse-rearing-in-desert-high-res-stock-photography/200354137-001") no-repeat center center fixed;
    background-size: cover;
}
