html, body, header, #intro {
    height: 100%;
}

#intro {
    background-image: url("https://github.com/JohnnyChin/johnnychin.github.io/blob/master/Beautiful-White-Horse-Background-Wallpaper-07652.jpg") no-repeat center center fixed;
    background-size: cover;
}
